@import "colors";

#attendee-actions {

  > div, ul {
    display: inline-block;
  }

  li {
    position: relative;
    float: left;
    margin-right: 40px;
  }

}

#attendee-export-options {
  min-width: 200px;
  line-height: 40px;

  .submit {
    border-top: 1px solid $color3;
  }
}
