@import "colors";
@import "mixins";

#attendee_actions {
  position: relative;

  .filter_form {
    position: absolute;
    right: 40px;

    .fieldWrapper {
      background-color: $color4;
      @include round-top;
      overflow: hidden;
      float: left;
      line-height: 40px;
      margin: 0 0 0 10px;
      padding: 0 5px;

      label {
        width: auto;
        padding: 0 5px;
      }

      li {
        float: left;
      }

    }
  }

  .attendees {

    line-height: 40px;

    > div, ul {
      display: inline-block;
    }

    li {
      position: relative;
      float: left;
      margin-right: 40px;
    }
  }

}

#attendee-export-options {
  min-width: 200px;
  line-height: 40px;

  .submit {
    border-top: 1px solid $color3;
  }
}
