/* http://www.colorcombos.com/color-scheme-275.html */

$color0: #FFF;
$color1: #2B3E42;
$color2: #747E80;
$color3: #D5E1DD;
$color4: #F7F3E8;
$color5: #F2583E;
$color6: #77BED2;

$dark: #181212;
$light: $dark;
$darker: $dark - $dark;
$lighter: $light + $light;
