label {
  width: 12em; }

.required label, label.required {
  font-weight: bold; }

input[type=text], input[type=email], input[type=password] {
  width: 26em;
  height: 26px; }

input[type=text], input[type=email], input[type=password], textarea {
  padding: 2px 10px; }

.datetime input, input.datetime {
  width: 6em; }

.fieldWrapper {
  line-height: 30px;
  margin-bottom: 1em;
  overflow: hidden; }
  .fieldWrapper label, .fieldWrapper > div {
    float: left; }
