@import "colors";

label {
  width: 12em;
}
.required label, label.required {
  font-weight: bold;
}
input[type=text], input[type=search], input[type=date], input[type=email], input[type=password] {
  height: 26px;
}
input[type=text], input[type=search], input[type=date], input[type=email], input[type=password], textarea, .options {
  width: 26em;
  padding: 2px 10px;
}
.options {
  text-align: right;
}
.option input[type=text] {
  width: 13em;
}
.datetime input, input.datetime {
  width: 6em;
}
.fieldWrapper {
  line-height: 30px;
  margin-bottom: 1em;
  overflow: hidden;

  label, .input {
    float: left;
  }

  .input label {
    width: auto;
  }

  .error {
    margin-left: 12em;

    li {
      color: $color5;
    }
  }
}