@import "mixins";
@import "colors";
@import "sizes";

html {
  height: 100%;
}
body {
  background-color: $color0;
  color: $color1;
  height: 100%;
  font:13px/1.231 helvetica,arial,clean,sans-serif;
}
h1 {
  font-size: 189%;
}
h2 {
  font-size: 174%;
  font-weight: bold;
}
h3 {
  font-size: 146.5%;
}
h4 {
  font-size: 116%;
  font-weight: bold;
}
strong {
  font-weight: bold;
}
.quiet {
  color: $color2;
}
.extra-quiet {
  color: $color3;
}
a {
  text-decoration: none;
  color: $color2;

  &:hover {
    color: $color1;
    text-decoration: underline;
  }
}
.messages {

  li {
    line-height: 40px;
    text-align: center;
    color: $color2;

    &.success {
      background-color: $color4;
      border-top: 1px solid $color3;
      border-bottom: 1px solid $color3;
    }
  }

}
