/* http://www.colorcombos.com/color-scheme-275.html */
#wide-header {
  background-color: #2b3e42;
  position: fixed;
  height: 68px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; }

#header {
  background-color: transparent;
  margin: 0 20px;
  position: relative;
  color: #747e80;
  overflow: hidden;
  height: 68px; }
  #header a {
    text-decoration: none;
    color: #747e80; }
  #header .logo {
    position: absolute;
    left: 0;
    font-family: 'Molengo', arial, serif;
    font-size: 275%;
    line-height: 56px; }
    #header .logo a span {
      /* color: $color5; */ }
  #header .navigation {
    position: absolute;
    left: 27%;
    top: 10px;
    bottom: 0px;
    right: 45%; }
    #header .navigation ul {
      position: absolute;
      bottom: 0; }
      #header .navigation ul li {
        position: relative;
        float: left;
        margin: 0 -0.2em;
        z-index: 1; }
        #header .navigation ul li > div {
          padding: 10px;
          background: #747e80;
          -webkit-border-top-left-radius: 15px;
          -webkit-border-top-right-radius: 15px;
          -moz-border-radius-topleft: 15px;
          -moz-border-radius-topright: 15px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
          #header .navigation ul li > div a {
            color: white; }
        #header .navigation ul li.active {
          z-index: 2; }
          #header .navigation ul li.active > div {
            background-color: white; }
            #header .navigation ul li.active > div a {
              color: #2b3e42; }
  #header .userbox {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden; }
    #header .userbox li {
      margin: 22px 0;
      float: left;
      padding: 0 10px;
      border-left: 1px solid #747e80;
      line-height: 24px; }
      #header .userbox li:first-child {
        border-left: none;
        padding-left: 0; }
      #header .userbox li a:hover {
        color: white;
        text-decoration: underline; }
