@import "mixins";
@import "colors";
@import "sizes";

#wide-header {
  background-color: $color1;
  position: fixed;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#header {
  background-color: transparent;
  margin: 0 20px;
  position: relative;

  color: $color2;
  overflow: hidden;
  height: $header-height;

  a {
    text-decoration: none;
    color: $color2;
  }

  .logo {
    position: absolute;
    left: 0;
    font-family: 'Molengo', arial, serif;
    font-size: 275%;
    line-height: 56px;

    a {
      span {
        /* color: $color5; */
      }
    }
  }

  .navigation {
    position: absolute;
    left: 27%;
    top: 10px;
    bottom: 0px;
    right: 45%;

    ul {
      position: absolute;
      bottom: 0;
      margin-left: 20px;

      li {
        position: relative;
        float: left;
        margin: 0 -.4em;
        z-index: 1;

        > div {
          background: $color1 + $light;
          -webkit-border-top-left-radius: 15px;
          -webkit-border-top-right-radius: 15px;
          -moz-border-radius-topleft: 15px;
          -moz-border-radius-topright: 15px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;

          a {
            display: block;
            padding: 10px 20px;
            color: $color3;
          }

          &:hover {
            background: $color1 + $light + $light;
            cursor: pointer;
          }
        }

        &.active {
          z-index: 2;

          > div {
          background-color: $color0;

            a {
              color: $color1;
            }
          }
        }

      }
    }

  }

  .userbox {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;

    li {
      margin: $header-height / 4 + 5 0;
      float: left;
      padding: 0 10px;
      border-left: 1px solid $color2;
      line-height: $header-height / 2 - 10;

      &:first-child {
        border-left: none;
        padding-left: 0;
      }

      a:hover {
        color: $color0;
        text-decoration: underline;
      }
    }
  }

}
