/* http://www.colorcombos.com/color-scheme-275.html */
#main {
  overflow: auto;
  position: absolute;
  top: 68px;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #bdcfcb; }
  #main .headline {
    line-height: 80px;
    overflow: hidden; }
    #main .headline h2, #main .headline div {
      float: left;
      margin-right: 30px; }
  #main h3 {
    line-height: 40px; }
  #main .indent {
    margin-left: 20px;
    margin-right: 20px; }
  #main .block {
    margin-bottom: 20px; }
    #main .block.upcoming .column {
      width: 16.6%; }
    #main .block.previous .column {
      width: 33.3%; }
  #main .row, #main .empty {
    line-height: 40px;
    padding: 0 40px; }
  #main .row {
    overflow: hidden; }
    #main .row.odd {
      background-color: #f7f3e8; }
    #main .row:hover a {
      color: #2b3e42; }
    #main .row:first-child {
      border-top: solid 1px #d5e1dd; }
    #main .row:last-child {
      border-bottom: solid 1px #d5e1dd; }
    #main .row .column {
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      #main .row .column h4 {
        padding-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      #main .row .column.last {
        text-align: right; }
      #main .row .column .dashed {
        margin-top: 20px;
        border-top: dashed;
        border-width: 1px;
        border-color: #d5e1dd;
        width: 90%; }
