@import "mixins";
@import "colors";
@import "sizes";

#main {

  overflow: auto;
  position: absolute;
  top: $content-top;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid $color3 - $dark;

  .headline {
     line-height: 80px;
     overflow: hidden;

    h2, div {
      float: left;
      margin-right: 30px;
    }

   }

  h3 {
    line-height: 40px;
  }

  .indent {
    margin-left: 20px;
    margin-right: 20px;
  }

  .block {
     margin-bottom: 20px;

    &.upcoming .column {
      width: 16.6%;
    }

    &.previous .column {
      width: 33.3%;
    }

   }

  .row, .empty {
     line-height: 40px;
     padding: 0 40px;
  }

  .row {
     overflow: hidden;

    &.odd {
      background-color: $color4;
    }

    &:hover {

      a {
        color: $color1;
      }

    }

    &:first-child {
      border-top: solid 1px $color3;
    }

    &:last-child {
      border-bottom: solid 1px $color3;
    }

    .column {
      float: left;

      text-overflow:ellipsis;
      overflow: hidden;
      white-space:nowrap;

      h4 {
        padding-right: 10px;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space:nowrap;
      }

      &.last {
        text-align: right;
      }

      .dashed {
        margin-top: 20px;
        border-top: dashed;
        border-width: 1px;
        border-color: $color3;
        width: 90%;
      }
    }

  }
}