@import "mixins";
@import "colors";
@import "sizes";

#main {

  overflow: auto;
  position: absolute;
  top: $content-top;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid $color3 - $dark;

  .headline {
     line-height: 80px;
     overflow: hidden;

    h2, div {
      float: left;
      margin-right: 30px;
    }

   }

  h3 {
    line-height: 40px;
    font-style:italic;
  }

  .indent {
    margin-left: 20px;
    margin-right: 20px;
  }

  .block {
     margin-bottom: 20px;
     display: table;
     width: 100%;
     border-top: solid 1px $color3;
     border-bottom: solid 1px $color3;
   }

  .row, .empty {
     line-height: 40px;
     font-size: 1.1em;
  }

  .empty {
     padding: 0 40px;
   }

  .row {
     display: table-row;

    &.odd {
      background-color: $color4;
    }

    &:hover {

      a {
        color: $color1;
      }

    }

    .column {
      display: table-cell;
      padding: 0 20px;

      text-overflow:ellipsis;
      overflow: hidden;
      white-space:nowrap;

      h4 {
        padding-right: 10px;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space:nowrap;
      }

      &:first-child {
        padding-left: 40px
      }

      &.last {
        text-align: right;
        padding-right: 40px;
      }

      .dashed {
        margin-top: 20px;
        border-top: dashed;
        border-width: 1px;
        border-color: $color3;
        width: 90%;
      }
    }

  }
}