/* http://www.colorcombos.com/color-scheme-275.html */
#main {
  overflow: auto;
  position: absolute;
  top: 68px;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #bdcfcb; }
  #main .headline {
    line-height: 80px;
    overflow: hidden; }
    #main .headline h2, #main .headline div {
      float: left;
      margin-right: 30px; }
  #main .indent {
    margin-left: 20px;
    margin-right: 20px; }
  #main .block {
    margin-bottom: 40px; }
    #main .block.upcoming .column {
      width: 20%; }
    #main .block.previous .column {
      width: 33.3%; }
  #main .row {
    line-height: 40px;
    overflow: hidden; }
    #main .row.odd {
      background-color: #f7f3e8; }
    #main .row:hover a {
      color: #2b3e42; }
    #main .row .column {
      float: left; }
