@import "mixins";
@import "colors";
@import "sizes";

#attached-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $color4;
  opacity: 0.7;
  z-index: 100;
}
#attached-modal-container {
  position: absolute;
  left: 0;
  border: 1px solid $color3;
  @include round;
  @include shadow-light;
  background-color: $color0;
  padding: 30px 10px 0;
  z-index: 200;
  color: $color2;

  .close.button {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
