@import "sizes";
@import "colors";

body {
  background-color: $color4;
  height: auto;
}

#page {
  margin: 40px auto 0 auto;
  width: 760px;
  background-color: $color0;
  border: solid 2px $color3;
}

#main {

  padding: 20px 40px;

  h1, h3, p {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
  }
}

#event_register {

  fieldset {

    margin-bottom: 10px;

    &.extra {
      padding-top: 20px;
      border-top: solid $color3 1px;
    }

  }

}
