ipython
psycopg2
django == 1.3.7
-e svn+http://google-visualization-python.googlecode.com/svn/trunk/#egg=gviz
south
django-kombu
django-celery
ghettoq
BeautifulSoup
-e git://github.com/dziegler/django-css.git#egg=DjangoCSS
-e git://github.com/dcramer/django-paypal.git#egg=DjangoPayPal
reportlab
xlwt
-e git://github.com/nsb/django-object-permissions.git#egg=DjangoObjectPermissions
-e git://github.com/nsb/django-quickpay.git#egg=DjangoQuickpay
simplejson