{% load i18n %}
<div class="block field">
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}
  <div class="row">
  {% for field in form.visible_fields %}
    <div class="column{% if forloop.last %} last{% endif %}{% if field.field.required %} required{% endif %}">
      {{ field.label }}
      {{ field.errors }}
    </div>
  {% endfor %}
  </div>
  <div class="row">
  {% for field in form.visible_fields %}
    <div class="column{% if forloop.last %} last{% endif %}">
      {{ field }}
      {% if forloop.first %}
        <div class="options">
          {% for option in field.form.instance.options.all %}
            <div class="option">
              <input type="text" name="{{ field.form.prefix }}-options" value="{{ option }}" />
              <a class="add" href="#">{% trans "Add" %}</a>
              <a class="remove" href="#">{% trans "Remove" %}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>
