<div class="block field">
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}
  <div class="row">
  {% for field in form.visible_fields %}
    <div class="column{% if forloop.last %} last{% endif %}{% if field.field.required %} required{% endif %}">
      {{ field.label }}
      {{ field.errors }}
    </div>
  {% endfor %}
  </div>
  <div class="row">
  {% for field in form.visible_fields %}
    <div class="column{% if forloop.last %} last{% endif %}">
      {{ field }}
      {% if forloop.first %}
        <div>
          {% for option in field.form.instance.options.all %}
            <input type="text" name="{{ field.form.prefix }}-options" value="{{ option }}" />
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>
