{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% block css %}
  <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  {% compress css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/modal.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/forms.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/page.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/header.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/attendee_actions.scss" type="text/css">
  {% endcompress %}
{% endblock css %}

{% block page %}
  <div id="wide-header"></div>
  <div id="page">
    <div id="header">
      {% block header %}
        <div class="logo"><a href="{% url index %}">signup<span>box</span></a></div>

        <div class="navigation">
          {% block navigation %}{% endblock navigation %}
        </div>

        <ul class="userbox">
          {% if user.is_authenticated %}
            <li>{% trans "logged in as" %} [<a href="">{{ user.username }}</a>]</li>
            <li><a href="{% url account_settings %}">{% trans "settings" %}</a></li>
            <li><a href="{% url auth_logout %}">{% trans "logout" %}</a></li>
          {% else %}
            <li><a href="{% url auth_login %}">{% trans "login" %}</a></li>
          {% endif %}
        </ul>
      {% endblock header %}
    </div>
    <div id="main">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% block main %}{% endblock main %}
    </div>
  </div>
  {% block templates %}{% endblock templates %}
{% endblock page %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" ></script>
  {% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/modal.js" ></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/attendee_actions.js" ></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/fields.js" ></script>
  {% endcompress %}
{% endblock javascript %}
