{% extends "signupbox/event_sub_detail_base.html" %}
{% load i18n %}

{% block navclass %}attendees{% endblock navclass %}


{% block main %}
<div class="headline indent">
  <h2>{% trans "Attendees" %}</h2>
</div>

<form action="{% url event_attendees event.slug %}" method="POST">
{% csrf_token %}
{{ form.action }}
<div id="attendee-actions" class="indent">
  <div class="indent checkbox"><input id="attendees-check-all" type="checkbox" /></div>
  <ul class="indent">
    <li id="attendees-export"><a href="#">{% trans "export" %}</a></li>
    <li><a href="#">{% trans "mail" %}</a></li>
  </ul>
</div>
<div class="attendee block">
  {% for attendee in event.confirmed_attendees %}
  <div class="row {% cycle 'even' 'odd' %}">
    <div class="column checkbox"><input type="checkbox" name="attendees" /></div>
    <div class="column"><a href="{% url event_attendees_edit event.slug attendee.id %}">{{ attendee }}</a></div>
    <div class="column"><a href="">#{{ attendee.booking.id }}</a></div>
    <div class="column last">{{ attendee.booking.timestamp|date }}</div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock main %}

{% block templates %}
<script type="text/html" id="TemplateAttendeesExport">
  <div class="options">
    <table>
      {{ export_form }}
    </table>
    <div class="submit">
      <input type="submit" value="{% trans "Export" %}" /> {% trans "or" %} <a class="close" href="#">{% trans "cancel" %}</a>
    </div>
  </div>
</script>
{% endblock templates %}