<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ site.name }}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.scss" type="text/css">
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/fonts.scss" type="text/css">
    {% endblock css %}
  </head>
  <body>
    {% block page %}{% endblock page %}
    <script type="text/javascript">
      document.write(unescape("%3C")+"script src='"+(document.location.protocol=="https:"?"https://":"http://")+"www.google.com/jsapi"+"' type='text/javascript'"+unescape("%3E%3C")+"/script"+unescape("%3E"));
    </script>
    <script type="text/javascript">
      google.load("jquery", "1.5");
    </script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
