{% extends "signupbox/appbase.html" %}
{% load i18n %}

{% block main %}
<div class="headline indent">
  <h2>{% trans "Edit event" %}</h2>
</div>

<div class="indent">
  <form action="{% url event_edit event.slug %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="fieldWrapper{% if field.field.required %} required{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }}
        <div>
          {{ field }}
          <div class="quiet">{{ field.help_text }}</div>
        </div>
      </div>
    {% endfor %}
    <div>
      <input type="submit" value="{% trans "Update" %}" />
    </div>
  </form>

</div>

{% endblock main %}