{% extends "signupbox/public_base.html" %}
{% load i18n %}
{% load booking_tags %}

{% block main %}

<div id="event_confirm">

<h3>{% trans "Confirm registration" %}</h3>
<p>{% blocktrans with event.title as title %}Registration for {{ title }}.{% endblocktrans %}</p>


{% block summary %}
{% regroup booking.unconfirmed_attendees.all by ticket as summary_list %}
<table>
  <thead>
    <tr>
      <th>{% trans "Category" %}</th>
      <th>{% trans "Count" %}</th>
      <th class="last">{% trans "Collected price" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for s in summary_list %}
    <tr>
      <td>{{ s.grouper }}</td>
      <td>{% attendee_count s.list %}</td>
      <td class="last">{% trans "Free" %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock summary %}

<p class="small quiet">{% blocktrans with event.terms_url as terms_url %}By confirming this registration you agree to our <a href="{{ terms_url }}" class="new_window">terms and conditions</a>.{% endblocktrans %}</p>

{% block confirm_form %}
<form action="{% url event_confirm event.slug booking.id %}" method="post">
  {% csrf_token %}
  {{ form }}

  <div>
    <input type="submit" value="{% trans "Confirm" %}" />
  </div>
</form>
{% endblock confirm_form %}

</div>

{% endblock main %}
