{% extends "signupbox/public_base.html" %}
{% load i18n %}
{% load date_tags %}
{% load booking_tags %}

{% block main %}

  <h1>{{ event.title }}</h1>

  <p>{{ event.description }}</p>

  <h3>{% trans "Time and date" %}</h3>
  <p>{% date_span event.begins event.ends %}</p>

  <h3>{% trans "Where" %}</h3>
  <p>{{ event.venue }}</p>

  <h3>{% trans "Price" %}</h3>
  <p>{% price_range event.tickets.all %} {{ event.get_currency_display }}</p>

  <h2><a href="{% url event_register event.slug %}">{% trans "Register" %}</a></h2>

{% endblock main %}
