{% extends "signupbox/event_register_base.html" %}
{% load i18n %}
{% load date_tags %}
{% load booking_tags %}

{% block main %}
<div id="event_site" class="col-sm-12">

  <h2>{{ event.title }}</h2>
  <p class="details">{{ event.description|safe }}</p>

  <h4>{% trans "Time and date" %}</h4>
  <p class="details">{% datetime_span event.begins event.ends %}</p>

  {% if event.venue or event.address %}
  <h4>{% trans "Where" %}</h4>
  <p class="details">
    <div><strong>{{ event.venue }}</strong></div>
    <div>{{ event.address }}</div>
    <div>{{ event.zip_code }} {{ event.city }}</div>
  </p>
  {% endif %}

  {% if event.has_payments %}
  <h4>{% trans "Price" %}</h4>
  <p class="details">{% price_range event.tickets.all %} {{ event.get_currency_display }}</p>
  {% endif %}

  <p>
    <a href="{% url event_register event.slug %}" class="btn btn-lg btn-success">
      {% trans "Register" %}
    </a>
  </p>

</div>
{% endblock main %}
