{% extends "signupbox/event_sub_detail_base.html" %}
{% load i18n %}

{% block navclass %}fields{% endblock navclass %}

{% block main %}
<div class="headline indent">
  <h2>{% trans "Form fields" %}</h2>
</div>

<div class="indent">
  <form action="{% url event_fields event.slug %}" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <div id="fields">
      {% for form in formset %}
        {% include "signupbox/includes/fields_form.html" %}
      {% endfor %}
    </div>

    <div id="add-field"><a href="#">{% trans "Add field" %}</a></div>

    <div><input type="submit" value="{% trans "Save" %}" /></div>
  </form>
</div>

{% endblock main %}

{% block templates %}
<script type="text/html" id="TemplateFieldsAdd">
{% with formset.empty_form as form %}
  {% include "signupbox/includes/fields_form.html" %}
{% endwith %}
</script>
<script type="text/html" id="TemplateFieldsOptionAdd">
<div class="option">
  <input type="text" name="form-<%= index %>-options" />
  <a class="add" href="#">{% trans "Add" %}</a>
  <a class="remove" href="#">{% trans "Remove" %}</a>
</div>
</script>
{% endblock templates %}
