{% extends "signupbox/public_base.html" %}
{% load i18n %}
{% load booking_tags %}

{% block main %}

{% regroup booking.attendees.all by ticket as summary_list %}

<table>
  <thead>
    <tr><th>{% trans "Kategori" %}</th><th>{% trans "Count" %}</th><th>{% trans "Price" %}</th></tr>
  </thead>
  <tbody>
  {% for s in summary_list %}
    <tr>
      <td>{{ s.grouper }}</td>
      <td>{{ s.list|length }}</td>
      <td>{% ticket_summary_price s.grouper s.list %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<form action="{% url event_confirm event.slug booking.id %}" method="post">

  {{ form }}

  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

  <div>
    <input type="submit" value="{% trans "Confirm" %}" />
  </div>
</form>

{% endblock main %}
