{% extends "signupbox/event_detail_base.html" %}
{% load i18n %}
{% load date_tags %}

{% block main %}
<div class="headline indent">
  <h2>{{ event.title }}</h2>
</div>

<div class="indent">

  <div class="box">
    <ul>
      <li><strong>{% trans "Date" %}:</strong> {% datetime_span event.begins event.ends %}</li>
      <li><strong>{% trans "Venue" %}:</strong> {{ event.venue }}</li>
      <li>
        <strong>{% trans "Capacity" %}:</strong>
        {% if event.capacity %}
          {{ event.capacity }}
        {% else %}
          {% trans "Unlimited" %}
        {% endif %}
        {% if event.confirmed_attendees_count %}
          ({% blocktrans count event.confirmed_attendees_count as attendee_count %}
            <strong>{{ attendee_count }}</strong> attendee
            {% plural %}
            <strong>{{ attendee_count }}</strong> attendees
          {% endblocktrans %})
        {% endif %}
      </li>
      <li><strong>{% trans "Website" %}:</strong> <a href="{{ event.website }}">{{ event.website }}</a></li>
    </ul>
    <div>
      <a href="{% url event_edit event.slug %}">{% trans "Edit event" %}</a>
    </div>
    <div>
      <a href="{% url event_copy event.slug %}">{% trans "Copy event" %}</a>
    </div>
  </div>

  {% if event.confirmed_attendees_count %}
  <h3 class="indent">{% trans "Event activity" %}</h3>
  <div class="activities">
    <div>
    {% for activity in account.activities %}
      <div class="activity indent row">
          <div class="quiet column timestamp">
            {% blocktrans with activity.timestamp|timesince as since %}{{ since }} ago{% endblocktrans %}
          </div>
          <div class="column">{{ activity }}</div>
      </div>
    {% empty %}
      <div class="empty">{% trans "No activites" %}</div>
    {% endfor %}
    </div>

  </div>
  {% else %}
  <div class="oobe">
    <h3>{% trans "A new event!" %}</h3>
    <p>{% blocktrans with attendees_url as attendees_url and tickets_url as tickets_url and fields_url as fields_url and event.website as website %}
    You can navigate the administration for this event by using the three menu entries, <a href="{{ attendees_url }}">Attendees</a>, <a href="{{ tickets_url }}">Tickets</a> and <a href="{{ fields_url }}">Form fields</a>.
    By the way, you also get a <a href="{{ website }}">public web site</a> for this event.
    Remember if you have any doubts about any of the features, please ask us using the <a href="">contact form</a>.
    {% endblocktrans %}</p>
  </div>
  {% endif %}

</div>
{% endblock main %}
