{% extends "signupbox/event_sub_detail_base.html" %}
{% load i18n %}

{% block navclass %}fields{% endblock navclass %}

{% block main %}
<div class="headline indent">
  <h2>{% trans "Form fields" %}</h2>
</div>

<div class="indent">
  <form action="{% url event_fields event.slug %}" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
    {% endfor %}

    {% for form in formset %}
    <div class="block field">
      <div class="row">
      {% for field in form.visible_fields %}
        <span class="column{% if forloop.last %} last{% endif %}">{{ field.label }}</span>
      {% endfor %}
      </div>
      <div class="row">
      {% for field in form.visible_fields %}
        <span class="column{% if forloop.last %} last{% endif %}">{{ field }}</span>
      {% endfor %}
      </div>
    </div>
    {% endfor %}

    <div><input type="submit" value="{% trans "Save" %}" /></div>
  </form>
</div>

{% endblock main %}

{% block templates %}
<script type="text/html" id="TemplateFieldsAdd">
{{ empty_form }}
</script>
{% endblock templates %}