{% extends "signupbox/public_base.html" %}
{% load i18n %}

{% block main %}

<div id="event_register">

  <h1>{% blocktrans with event.title as title %}registration for {{ title }}{% endblocktrans %}</h1>

  {% block register_form %}
  <form action="{% url event_register event.slug %}" method="post">
  {% csrf_token %}
  {{ formset.management_form }}

    <div id="attendee-forms">
    {% for form in formset.forms %}
      <fieldset>
      {% for field in form %}
        {% include "signupbox/includes/field.html" %}
      {% endfor %}
      </fieldset>
    {% endfor %}
    </div>

    <div>
      {% if event.has_extra_forms %}
        <span id="add-attendee"><a  href="#">{% trans "Add extra attendee" %}</a> {% trans "or" %}</span>
      {% endif %}
      <input type="submit" value="{% trans "Continue" %}" />
    </div>
  </form>
  {% endblock register_form %}

</div>

{% endblock main %}

{% block templates %}
<script type="text/html" id="AttendeeAddExtra">
<fieldset class="extra">
  {% for field in empty_form %}
    {% include "signupbox/includes/field.html" %}
  {% endfor %}
</fieldset>
</script>
{% endblock templates %}
