{% extends "signupbox/appbase.html" %}
{% load i18n %}

{% block main %}
<div class="headline indent">
  <h2>{% blocktrans with account.name as account_name %}{{ account_name }}'s events{% endblocktrans %}</h2>
  <div><a href="{% url event_create %}">{% trans "Add event" %}</a></div>
</div>

  <div class="event block upcoming">
    <h3 class="indent">{% trans "Upcoming events" %}</h3>
    {% for event in events.upcoming %}
      <div class="event row {% cycle 'even' 'odd' %}">
        <div class="indent">
          <div class="column"><h4><a href="{% url event_detail event.slug %}">{{ event.title }}</a></h4></div>
          <div class="column">{{ event.date_formatted }}</div>
          <div class="column">{% trans "in" %} {{ event.begins|timeuntil }}</div>
          <div class="column">{% if event.venue %}{{ event.venue }}{% else %}<div class="dashed"></div>{% endif %}</div>
          <div class="column">
            {% blocktrans with event.attendee_count as attendee_count %}{{ attendee_count }} attendees{% endblocktrans %}
          </div>
          <div class="column last">{{ event.get_status_display }}</div>
        </div>
      </div>
    {% empty %}
      <div class="row">
        <div class="indent column">{% trans "No upcoming events" %}</div>
      </div>
    {% endfor %}
  </div>

  <div class="event block previous">
    <h3 class="indent">{% trans "Previous events" %}</h3>
    {% for event in events.previous %}
      <div class="event row {% cycle 'even' 'odd' %}">
        <div class="indent">
          <div class="column"><h4><a href="{% url event_detail event.slug %}">{{ event.title }}</a></h4></div>
          <div class="column"><a href="{% url event_detail event.slug %}">{{ event.date_formatted }}</a></div>
          <div class="column">
            {% blocktrans with event.attendee_count as attendee_count %}{{ attendee_count }} attendees{% endblocktrans %}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="row">
        <div class="indent column">{% trans "No previous events" %}</div>
      </div>
    {% endfor %}
  </div>

{% endblock main %}