{% extends "signupbox/appbase.html" %}
{% load i18n %}
{% load date_tags %}

{% block main %}
<div class="headline indent">
  <h2>{% blocktrans with account.display_name as name %}{{ name }}'s events{% endblocktrans %}</h2>
  <div><a href="{% url event_create %}">{% trans "Add event" %}</a></div>
</div>

  {% if not account.events.upcoming and not account.events.previous %}
  <div class="oobe indent">
    <h3>{% blocktrans with site.name as name %}Welcome to your new <span class="site_name"><strong>{{ name }}</strong></span> account!{% endblocktrans %}</h3>
    <p>{% trans "When you get started with your events, you will see this page be filled with events and activities. But for now, here are some tips that will help you get started." %}</p>
  </div>
  {% endif %}

  <h3 class="indent">{% trans "Upcoming events" %}</h3>
  {% if account.events.upcoming %}
  <div class="event block upcoming">
    {% for event in account.events.upcoming %}
      <div class="event row {% cycle 'even' 'odd' %}">
        <div class="column"><h4><a href="{% url event_detail event.slug %}">{{ event.title }}</a></h4></div>
        <div class="column">{% date_span event.begins event.ends %}</div>
        <div class="column">{% trans "in" %} {{ event.begins|timeuntil }}</div>
        <div class="column">{% if event.venue %}{{ event.venue }}{% else %}<div class="dashed"></div>{% endif %}</div>
        <div class="column">
          {% blocktrans count event.confirmed_attendees_count|default_if_none:"0" as attendee_count %}
            <strong>{{ attendee_count }}</strong> attendee
            {% plural %}
            <strong>{{ attendee_count }}</strong> attendees
          {% endblocktrans %}
        </div>
        <div class="column last">{{ event.get_status_display }}</div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <div class="empty">{% trans "No upcoming events" %}</div>
  {% endif %}

  {% if not account.events.upcoming and not account.events.previous %}
  <div class="oobe indent">
    <h3>{% trans "Next step: Add an event" %}</h3>
    <p>{% blocktrans with event_add_url as event_add_url %}The first thing you will propably want to do, is to <a href="{{ event_add_url }}">add an event</a>. You can have as many events in you account as you like.{% endblocktrans %}</p>
  </div>
  {% endif %}

  <h3 class="indent">{% trans "Recent activities" %}</h3>
  <div class="activities">
    <div>
    {% for activity in account.activities_short_list %}
      <div class="activity indent row">
          <div class="quiet column timestamp">
            {% blocktrans with activity.timestamp|timesince as since %}{{ since }} ago{% endblocktrans %}
          </div>
          <div class="column">{{ activity }}</div>
      </div>
    {% empty %}
      <div class="empty">{% trans "No recent activites" %}</div>
    {% endfor %}
    </div>

    <div id="gviz" class="column"></div>
 
  </div>


  {% if not account.events.upcoming and not account.events.previous %}
  <div class="oobe indent">
    <h3>{% trans "Help!" %}</h3>
    <p>{% blocktrans %}If you become unsure about what to do, or how a feature works, don't hesitate to ask us by using the <a href="">contact form</a>.{% endblocktrans %}</p>
  </div>
  {% endif %}

  <h3 class="indent">{% trans "Previous events" %}</h3>
  {% if account.events.previous %}
  <div class="event block previous">
    {% for event in account.events.previous %}
      <div class="event row {% cycle 'even' 'odd' %}">
        <div class="column"><h4><a href="{% url event_detail event.slug %}">{{ event.title }}</a></h4></div>
        <div class="column">{% date_span event.begins event.ends %}</div>
        <div class="column">
          {% blocktrans count event.confirmed_attendees_count|default_if_none:"0" as attendee_count %}
            <strong>{{ attendee_count }}</strong> attendee
            {% plural %}
            <strong>{{ attendee_count }}</strong> attendees
          {% endblocktrans %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <div class="empty">{% trans "No previous events" %}</div>
  {% endif %}

{% endblock main %}

{% block javascript %}
  {{ block.super }}

<script type="text/javascript">

google.load('visualization', '1', {'packages':['columnchart']});
google.setOnLoadCallback(drawChart);

function drawChart() {
  var query = new google.visualization.Query('/admin/gviz/');
  query.send(handleQueryResponse);
}

function handleQueryResponse(response) {
  if (response.isError()) {
    alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
    return;
  }

  var data = response.getDataTable();

  visualization = new google.visualization.ColumnChart(document.getElementById('gviz'));

  var do_draw = function() {
    visualization.draw(data, {
      height: 240,
      is3D: true,
      isStacked: true,
      min: 0,
      title: '{% trans "Registrations the last seven days" %}',
      colors: ['#2B3E42', '#747E80', '#D5E1DD', '#F7F3E8', '#F2583E', '#77BED2']}
    );
  };

  if (visualization) {
    do_draw();

    $(window).resize(function(){
      do_draw();
    });
  }

}
</script>


{% endblock javascript %}