{% extends "signupbox/appbase.html" %}
{% load i18n %}

{% block main %}
<div class="headline indent">
  <h2>{% blocktrans with account.name as account_name %}{{ account_name }}'s events{% endblocktrans %}</h2>
  <div><a href="{% url event_create %}">{% trans "Add event" %}</a></div>
</div>

  <h3 class="indent">{% trans "Upcoming events" %}</h3>
  {% for event in events.upcoming %}
    <div>{{ event.title }}</div>
  {% empty %}
    <div class="indent">{% trans "No upcoming events" %}</div>
  {% endfor %}


  <h3 class="indent">{% trans "Previous events" %}</h3>
  {% for event in events.previous %}
    <div>{{ event.title }}</div>
  {% empty %}
    <div class="indent">{% trans "No previous events" %}</div>
  {% endfor %}

{% endblock main %}