{% extends "signupbox/base.html" %}
{% load i18n %}
{% load compress %}
{% block css %}
  <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  {% compress css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/forms.scss" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/public_page.scss" type="text/css">
  {% endcompress %}
{% endblock css %}

{% block title %}{{ account.display_name }}{% endblock title %}

{% block page %}
  <div id="page">
    <div id="header">
      {% block header %}
      {% endblock header %}
    </div>
    <div id="main">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% block main %}{% endblock main %}
    </div>
  </div>

  {% block footer %}
  <div id="footer">
    <p class="small quiet">
    {{ account.organization }}
    {% if account.street %}, {{ account.street }}{% endif %}
    {% if account.city %}, {{ account.city }} {{ account.zip_code }}{% endif %}
    {% if account.phone %}, {% trans "Phone" %}: {{ account.phone }}{% endif %}
    {% if account.cvr %}, {% trans "CVR no." %}: {{ account.cvr }}{% endif %}
    {% if account.email %}, <a href="mailto:{{ account.email }}">{% trans "Contact" %}</a>.{% endif %}
    </p>
  </div>
  {% endblock footer %}


  {% block templates %}{% endblock templates %}
{% endblock page %}

{% block javascript %}
  {{ account.script_codes|safe }}

  {% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/register.js" ></script>
  {% endcompress %}
{% endblock javascript %}
