{% extends "signupbox/base.html" %}
{% load i18n %}
{% load compress %}

{% block css %}
  <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <style>

  @media (min-width: 768px) {
    body {
      background-color: #eee;
    }
    .container{
      max-width: 600px;
      margin-top: 20px;
    }
    #page {
      background-color: #fff;
      border-radius: 2px;
      border: solid 2px #ddd;
    }
  }

  </style>
{% endblock css %}

{% block title %}{{ account.display_name }}{% endblock title %}

{% block page %}
  {% block scriptcodes %}
  {{ account.script_codes|safe }}
  {% endblock scriptcodes %}
  <div id="page" class="container">
    <div id="header" class="row">
      {% block header %}
      {% endblock header %}
    </div>
    <div id="main" class="row">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% block main %}{% endblock main %}
    </div>
  </div>

  {% block footer %}
  <div id="footer" class="container text-muted text-center">
    <p class="small quiet">
    {{ account.organization }}
    {% if account.street %}, {{ account.street }}{% endif %}
    {% if account.city %}, {{ account.city }} {{ account.zip_code }}{% endif %}
    {% if account.phone %}, {% trans "Phone" %}: {{ account.phone }}{% endif %}
    {% if account.cvr %}, {% trans "CVR no." %}: {{ account.cvr }}{% endif %}
    {% if account.email %}, <a href="mailto:{{ account.email }}">{% trans "Contact" %}</a>.{% endif %}
    </p>
  </div>
  {% endblock footer %}


  {% block templates %}{% endblock templates %}
{% endblock page %}

{% block javascript %}

  {% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/register.js" ></script>
  {% endcompress %}
{% endblock javascript %}
